html {
    background-color: black;
    width: 100%;
}
div {
    margin-top: 3%;
}
img {
    margin: auto;
    width: 70%;
    height: 600px;
    border-color: grey;
    border-width: 5px;
    border-style: solid;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Mooli', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
